<%= current_user.employer? %>

<!-- FAVORITE JOBS  -->
<!-- <% @favorite_jobs.each do |favorite| %>
  <%= favorite.title %>
<% end %> -->
<!-- END FAVORITE JOBS -->

<%= render "header" %>










<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">

        <% @jobs.each do |job| %>

          <div class="col-xs-12">
            <%= link_to job_path(job.id), class: "item-block" do %>
              <header>
                <div class="hgroup">
                  <h4>SOME TITLE</h4>
                  <h5>SOME BUSINESS NAME <span class="label label-success">SOME FTE</span></h5>
                </div>
                <time datetime="2016-03-10 20:00">CREATED_AT</time>
              </header>

              <div class="item-body">
                <p>SOME DESCRIPTION</p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i>
                    <span>SOME LOCATION</span>
                  </li>

                  <li>
                    <i class="fa fa-money"></i>
                    <span>SOME FEE</span>
                  </li>

                  <li>
                    <i class="fa fa-certificate"></i>
                    <span>SOME EDUCATION</span>
                  </li>
                </ul>
              </footer>
              <hr>

              <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
