<header class="page-header bg-img header-job-search">
  <div class="container page-name">
    <h1 class="text-center">Browse employer representatives</h1>
    <p class="lead text-center">Use following search box to find companies that fits you better</p>
  </div>
  <div class="container">
    <form class="header-job-search">
      <div class="row">
        <div class="form-group col-xs-12">
          <input type="text" class="form-control" placeholder="Job title, skills, or company">
        </div>
      </div>
      <div class="button-group">
        <div class="action-buttons">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</header>
